*{
    box-sizing: inherit;
  }
  body{
    font-family: monospace;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    color: whitesmoke;
    font-size: x-large;
  }
  .cabecalho{
    padding: 30px;
    text-align: center;
    background-color: rgba(1, 245, 245, 0.089);
    image-rendering: pixelated;
  }
  
  .cabecalho h1{
    font-size: 50px;
  }
  
  .colEsq{
    float: left;
    width: 100%;
    background-color: rgba(1, 245, 245, 0.089);
    padding-left: 15px;
  }
  
  .colDir {
    float: left;
    width: 100%;
    background-color: rgba(1, 245, 245, 0.089);
    padding-left: 15px;
  }
  .topnave{
    overflow: hidden;
    background-color: rgba(1, 245, 245, 0.089);
    margin-top: 50px;
  
  }
  
  .topnave a{
    color: rgb(255, 255, 255);
    padding: 05px 44px;
    text-decoration: none;
    text-align: center;
    border: rgba(0, 0, 0);
    float:left;
    margin-left: 08px;
    margin-right: 08px;
  }
  
  .topnave a:hover {
    background-color: rgba(1, 245, 245, 0.089);
    color: whitesmoke;
    border-top: solid 10px;
    border-bottom: solid 10px;
    border-left: solid 10px;
    border-right: solid 10px;
  }
  
  .imagens{
    background-color: rgba(1, 245, 245, 0.089);
    width: 100%;
    padding: 20px;
  }
  
  .card{
    background-color: rgba(1, 245, 245, 0.089);
    padding: 110px;
    margin-top: 110px;
  }
  
  .principal::after{
    content: "";
    display: table;
    clear: both;
  }
  
  .imagens img{
    width: 40%;
  }
  @media screen and (max-width: 80px) {
    .colEsq,
    .colDir{
        width: 100%;
        padding: 0%;
    }
  }
  .insta img{
    width: 50px;
    vertical-align: bottom;
  }
  .arrobas p{
    margin-top: 30px;
    margin-bottom: 15px;
  }