*{
    box-sizing: content-box;
}
body{
    font-family: monospace;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    color: whitesmoke;
    font-size: x-large;
}
.cabecalho{
    padding: 30px;
    text-align: center;
    background-color: rgba(1, 245, 245, 0.089);
}

.cabecalho h1{
    font-size: 50px;
}

.colEsq{
    float: left;
    width: 100%;
    background-color: rgba(1, 245, 245, 0.089);
    padding-left: 15px;
}

.colDir {
    float: left;
    width: 100%;
    background-color: rgba(1, 245, 245, 0.089);
    padding-left: 15px;
}
.topnave{
    overflow: hidden;
    background-color: whitesmoke;
}

.topnave a{
    color: rgb(0, 0, 0);
    padding: 05px 80px;
    text-decoration: none;
    text-align: center;
    border: rgb(0, 0, 0);
    float:left;
}

.topnave a:hover {
    background-color: whitesmoke;
    color: black;
    border-bottom: solid 10px rgb(0, 0, 0);
    border-radius:  50px;
}

.imagens{
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
}

.card{
    background-color: rgba(1, 245, 245, 0.089);
    padding: 110px;
    margin-top: 110px;
}

.principal::after{
    content: "";
    display: table;
    clear: both;
}

.imagens img{
    width: 40%;
}
@media screen and (max-width: 80px) {
    .colEsq,
    .colDir{
        width: 100%;
        padding: 0%;
    }
}
